progress4/progress 4.json
{
  "name": "progress 4",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -192,
        -96
      ],
      "id": "b4f3d700-7f18-47af-8b05-ecb4b40bae30",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "resource": "fileFolder",
        "filter": {
          "folderId": {
            "__rl": true,
            "value": "1M6A951L7qXuQjUSANTnJ3cRSXK6lBiYB",
            "mode": "list",
            "cachedResultName": "progress workflow",
            "cachedResultUrl": "https://drive.google.com/drive/folders/1M6A951L7qXuQjUSANTnJ3cRSXK6lBiYB"
          }
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        16,
        -96
      ],
      "id": "a54c5421-fd2d-463d-bdaf-e78738c3dd09",
      "name": "Search files and folders",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "pYyXcsd3ciVhMgjX",
          "name": "Google Drive account 2"
        }
      }
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $json.id }}",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        224,
        -96
      ],
      "id": "55db6c14-6cab-4a06-80d4-f4677004efd4",
      "name": "Download file",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "pYyXcsd3ciVhMgjX",
          "name": "Google Drive account 2"
        }
      }
    },
    {
      "parameters": {
        "mode": "insert",
        "pineconeIndex": {
          "__rl": true,
          "value": "n8n-test",
          "mode": "list",
          "cachedResultName": "n8n-test"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "typeVersion": 1.3,
      "position": [
        432,
        -96
      ],
      "id": "a1fca74e-3f15-4f8b-86a3-5043ba042363",
      "name": "Pinecone Vector Store",
      "credentials": {
        "pineconeApi": {
          "id": "J7Lu9oQJ11Jbw7Yu",
          "name": "PineconeApi account 3"
        }
      }
    },
    {
      "parameters": {
        "options": {
          "dimensions": 1536
        }
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        400,
        80
      ],
      "id": "4f9abe74-c912-4f5f-b8cb-62042b4060eb",
      "name": "Embeddings OpenAI",
      "credentials": {
        "openAiApi": {
          "id": "XkcPuJzUWXKHRenh",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "dataType": "binary",
        "textSplittingMode": "custom",
        "options": {
          "metadata": {
            "metadataValues": [
              {
                "name": "filename",
                "value": "={{ $json.name }}"
              }
            ]
          }
        }
      },
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1.1,
      "position": [
        576,
        112
      ],
      "id": "9d0853d6-f46d-4053-b248-72b540f38315",
      "name": "Default Data Loader"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.textSplitterRecursiveCharacterTextSplitter",
      "typeVersion": 1,
      "position": [
        608,
        256
      ],
      "id": "2fa6e4e9-7e21-4871-b95c-ef1d50b623e2",
      "name": "Recursive Character Text Splitter"
    }
  ],
  "pinData": {},
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Search files and folders",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Search files and folders": {
      "main": [
        [
          {
            "node": "Download file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download file": {
      "main": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI": {
      "ai_embedding": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader": {
      "ai_document": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Recursive Character Text Splitter": {
      "ai_textSplitter": [
        [
          {
            "node": "Default Data Loader",
            "type": "ai_textSplitter",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "56254bb8-a6a9-46a0-8767-9b9f2a2b029a",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "0c1e5aaca0c64925fcc253e688b3175e1fc60017f07e2c39c4a20910a1335b0f"
  },
  "id": "rJMqxklcTCO9UbwG",
  "tags": []
}